<div class="main-container">
    <h1>Ace your NPTEL course</h1>
    <p>Welcome to "CONSERVATION GEOGRAPHY" Quiz Platform. Prepare for your NPTEL FAT with this platform featuring 12 quizzes all the way from weeks 1 to 12 and all combined quiz.</p>
    <br><br><br><br>
    <button class="start-btn" (click)="navigateToChoice()">Start Practising 🚀</button>
    <br><br><br><br><br><br>
    <!-- New paragraph at the end -->
    <h3 class="footer-text">Good luck with your quizzes, and remember to stay consistent!</h3>
  </div>
  