<div class="choice-container">
    <h1>Select a Quiz Week</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="weeks-grid">
      <!-- Week Buttons with Static Links -->
      <button class="start-btn" (click)="navigateToChoice()">quiz 1</button>
      <button class="start-btn" (click)="navigateToQuiz2()">quiz 2</button>
      <button class="start-btn" (click)="navigateToQuiz3()">quiz 3</button>
      <button class="start-btn" (click)="navigateToQuiz4()">quiz 4</button>
      <button class="start-btn" (click)="navigateToQuiz5()">quiz 5</button>
      <button class="start-btn" (click)="navigateToQuiz6()">quiz 6</button>
      <button class="start-btn" (click)="navigateToQuiz7()">quiz 7</button>
      <button class="start-btn" (click)="navigateToQuiz8()">quiz 8</button>
      <button class="start-btn" (click)="navigateToQuiz9()">quiz 9</button>
      <button class="start-btn" (click)="navigateToQuiz10()">quiz 10</button>
      <button class="start-btn" (click)="navigateToQuiz11()">quiz 11</button>
      <button class="start-btn" (click)="navigateToQuiz12()">quiz 12</button>
      <button class="start-btn" (click)="navigateToQuizAll()">quiz All</button>
    </div>
  </div>
  